body{
    display: flex;
    flex-flow: column nowrap;
    background-color: antiquewhite;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}
.cabecera{
    margin: 0 auto;
    text-align: center;
    width: 100vw;
}

#productos{
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin: 0 auto;
    padding: 0 auto;
}

#producto{
    text-align: center;
    margin: 0 auto;
    border: 7px groove brown;
    box-shadow: 2px 2px 10px black inset;
    padding: 1em;
    background-color: lightgoldenrodyellow;
    border-radius: 0.3em;
}

#producto .comprar{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: rgb(108, 108, 108);
    background-color: blanchedalmond;
    border: none;
    border-radius: 0.3em;
    font-size: 2em;
    box-shadow: 1px 1px 1px black;
}

#producto .comprar:hover{
    transform: scale(1.1);
}

.inventario{
    justify-content: center;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;
    width: 35vw;
    padding: 1em;
    flex-wrap: wrap;
    gap: 10px;
    border: 10px groove brown;
    box-shadow: 2px 2px 10px black inset;
}

.inventario img{
    width: 4em;
    height: 4em;
    border-radius: 0.3em;
}

.inventario img:hover{
    transition: all 0.2s ease-in;
    cursor: pointer;
    scale: 1.1;
    box-shadow: 2px 2px 2px brown;
}

.hueco{
    width: 4em;
    height: 4em;
    border: brown groove 7px;
    border-radius: 0.5em;
}

.boton{
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

#continuar2{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: rgb(108, 108, 108);
    background-color: blanchedalmond;
    border: none;
    border-radius: 0.3em;
    font-size: 2em;
    box-shadow: 2px 2px 2px black;
}

#continuar2:hover{
    transform: scale(1.1);
}

